$text-c1-dark: #000;
$text-c1-light: #fff;
$text-c1-grey: #cecece;
$text-c1-footer: #222222;

$text-xs: 12px;
$text-base: 14px;
$text-xl: 15px;
$text-2xl: 20px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;

$text-extraLight: 200;
$text-light: 300;
$text-normal: 400;
$text-medium: 500;
$text-semiBold: 600;
$text-bold: 700;
$text-extraBold: 800;

$bg-header-main: #ff385c;
$bg-header-light:#ffffff;
$bg-grey: #cecece;
