.user-template {
  width: 100%;
  min-height: 969px;
  font-size: $text-base;
  // background: #f65d5d;
  background: url(../../img/signup/bg-signup.jpg) center center / cover
    no-repeat;
  object-fit: cover;
  padding-top: 150px;
  .container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
}
